.background{
    background-image: url('../../../assets/images/backimg.png');  
    background-repeat: no-repeat;
    background-size: cover;

}
.bg_front{
    background-image: url('../../../assets/images/2.jpg');  
   
}
.username-container {
    position: absolute;
    top: 57%; 
    margin-left: 6%;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
     /* Optional background for contrast */
    padding: 10px 20px; /* Optional padding for readability */
    
  }
  .userid-container {
    position: absolute;
    margin-top: 10px;
    top: 60%; 
    margin-left: 8%;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
     /* Optional background for contrast */
    /* Optional rounded corners */
  }
  .userdateofbirth-container {
    position: absolute;
    top: 18%; 
    margin-left: 10px;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
     /* Optional background for contrast */
    padding: 10px 20px; /* Optional padding for readability */
    
  }
  .useraddress-container{
    position: absolute;
    top: 80%; 
    margin-left: 10px;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
    padding: 10px 20px;
    
  }
  .useremail-container{
    position: absolute;
    top: 90%; 
    margin-left: 10px;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
    padding: 10px 20px;
    
  }
  .useremercency-container{
    position: absolute;
    top: 30%; 
    margin-left: 10px;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
    padding: 10px 20px; 
  }
  .office-container{
     position: absolute;
    top: 40%; 
    margin-left: 10px;/* Adjust this value to move the text to the desired vertical position */
    font-size: 15px;
    color: #000; /* Text color (choose based on background) */
    padding: 10px 20px; 
  }
  .image-container{
    position: absolute;
    top: 25%;
    left: 25.5%;
  }
  .image_user{
   
    width: 25%;
    height: 25%;
    border-radius: 20%;
   
  }
  .website{
    position: absolute;
    top: 172%;
    left: 38.3%;
  }
  .username_id{
    font-size: 20px;
    color: rgb(9, 84, 68);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
  }
  .fontcontact{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  .fontoffice{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 200;
  }
  .office{
    margin-top: 5%;
    margin-left: 7%;
  }
  @media (max-width: 768px) {
    .image-container{
      position: absolute;
      top: 13%;
      left: 30.8%;
      
    }
    .image_user{
      width: 67% !important
    }
    .username-container {
      position: absolute;
      top: 29%; 
      margin-left: 18%;/* Adjust this value to move the text to the desired vertical position */ 
      
    }
    .userid-container {
      position: absolute;
      margin-top: 10px;
      top: 30.1%; 
      margin-left: 26%;/* Adjust this value to move the text to the desired vertical position */
      
    }
    .office-container{
      position: absolute;
     top: 70%; 
     margin-left: 10px;/* Adjust this value to move the text to the desired vertical position */
     
     /* Text color (choose based on background) */
     
   }
   .useraddress-container{
    position: absolute;
    top: 40%; 
    margin-left: 10px;
   }
   .website{
    position: absolute;
    top: 195%;
    left: 35.3%;
  
   }
   .background{
    width: 339px;
   }
   .background_back{
    width: 339px;
   }
    
  }