/* .idcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} */


.userid-container {
  position: absolute;
  margin-top: 10px;
  top: 62%; 
  /* Adjust this value to move the text to the desired vertical position */
  font-size: 30px;
  font-weight: 700;
  
}
.idcard {
  width: 481px;
  height: 804px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-container {
  position: absolute;
  top: 24%;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #2C5545;
}
.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.placeholder-photo {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 14px;
}
.details {
  position: absolute;
  /* bottom: 10%; */
  top: 76%;
  text-align: center;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #0E3B2E;
}
.username {
  font-size: 24px;
  font-weight: bold;
}
.sponsor-id {
 
  position: absolute;
  /* top: 24%; */
  width: 275px;
  height: 275px;
}
.useraddress-container{
  position: absolute;
  top: 29%; 
  margin-left: 25%;/* Adjust this value to move the text to the desired vertical position */
  font-size: 20px;
  color: #000; /* Text color (choose based on background) */
   /* Optional background for contrast */
  padding: 64px 0px;
 }

.download-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1A4D3C;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.download-btn:hover {
  background-color: #0E3B2E;
}
.username-container {
  position: absolute;
  top: 29%; 
  margin-left: 25%;/* Adjust this value to move the text to the desired vertical position */
  font-size: 25px;
  color: #000; /* Text color (choose based on background) */
   /* Optional background for contrast */
  padding: 10px 20px; /* Optional padding for readability */
  
}
.website{
  position: absolute;
 
  margin-top: 31%;
    font-size: 17px;
    left: 34%;

 }
 .office-container{
  position: absolute;
 top: 40%; 
 /* margin-left: 10px; */
 font-size: 20px;
 color: #000; /* Text color (choose based on background) */
 padding: 10px 20px; 
}