.verifybutton{
    background-color: #095444;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;

    
}
.verifybutton:hover{
    background-color: #169d80;
}
.signupbutton{
    background-color: #095444;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
}
.signupbutton:hover{
    background-color: #169d80;
}