/* Basic styling for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  height: 60px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo styling */
.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: auto;
}

/* Username styling */
.username {
  font-size: 16px;
  margin-left: 10px;
}

/* Logout button styling */
.logout {
  flex: 1;
  text-align: right;
}

.logout-btn {
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      height: auto;
      padding: 15px;
  }

  .header-content {
      flex-direction: column;
      align-items: center;
  }

  .logo-img {
      height: 50px; /* Smaller logo for mobile */
  }
  .logo{
    margin: 0 27%;
    
  }
  .welcome{
    display: none;
  }

  .username {
      font-size: 17px;
      margin: 5px 0;
  }

  .logout {
      text-align: center;
      margin-top: 10px;
  }

  .logout-btn {
      padding: 8px 16px;
      font-size: 14px;
  }
  
}
