.addtocart{
    background-color: #10856c;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.addtocart:hover{
  background-color: #134b44;
}
.handlesubmitbutton{
    background-color: #10856c;
    color: white;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
.handlesubmitbutton:hover{
  background-color: #134b44;
}
.scrollbar{
   width: 400px
}
/* Inventory component mobile responsiveness */

/* Ensure cards and cart items are more compact on mobile */
@media (max-width: 768px) {
    .pos-content-container .row-cols-md-2 .row-cols-lg-2 {
      grid-template-columns: 1fr;
    }
    .card {
      width: 100%;
      margin: 0 auto;
    }
    /* Adjust sidebar to overlay as a drawer on smaller screens */
    .pos .pos-sidebar {
      margin-right: 90%;
      height: 100%;
      width: 95%;
      background: white;
      border-radius: 10px;
     
     
    }
  
    .pos-sidebar.open {
      transform: translateX(0);
    }
    .pos .pos-menu {
       margin-top: -65%;
    }
    .scrollbar{
      width: 94% !important
   }
   .deleteitem{
    margin-left: 43%;
   }
  .imageitem{
    text-align: center;
  }
  .itemdetails{
    text-align: center;
  }
    /* Toggle button for sidebar visibility */
   
  }
  .paymentoption{
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  .optionmenu{
    border: none;
  }
  
   /* on larger screens */ 
  @media (min-width: 768px) {
    .pos .pos-menu {
        position: fixed;
  top: 0;
  z-index: 10
    }
  
    /* Sidebar remains visible */
    .pos .pos-sidebar {
        position:fixed;
        top: 0;
        bottom: 0;
        height: calc(100% - 2rem);
        margin: 1rem;
        border-radius: 9px;
        border: 1px solid var(--bs-border-color);
        right: 0
    }
  }
  
  