.item_nav{
 
  display: inline;
  padding: 4px 2px;
  
  font-size: 18px;
  font-family:'Barlow', sans-serif;
  right: 23px;
}
.item_nav a{
    color: #ffffff;
    text-decoration: none;
}
.item_nav :active{
color: white;
}
/* .item_nav :hover{

  color:#fdd922 ;
} */
.navbarmenu{
    background-color: #157ed2;
}
.subitem a{
  color: #000;
  }
  .subitem:hover{
    color: #2049ea;
  }