@media (max-width: 768px) {
.copyright{
    margin-left: 18%;
}
.icon_social{
    margin-left: 28%;
}
.link{
    justify-content: center;
}
.methods{
    justify-content: center;
    font-size: 10px;
}
  }